.home-event-second {
  &_wrap {
    @apply bg-white;
  }

  &_container {
    & {
      @apply mx-auto pt-[150px] pb-[150px] relative pl-[100px] max-w-screen-xl;
    }
  }

  &_icon {
    @apply  font-benzin text-xl pr-[3px] pt-[3px] text-white;
  }

  &_icon-second {
    transition: 1s !important;
    transition-delay: 0.5s !important;
    @apply absolute w-[60px] h-[60px] bg-lightgrey rounded-full left-0 border-[1px] border-superLightBlue
     flex justify-center font-benzin text-base text-black pl-[2px] pt-[4px] translate-y-[40px]
    translate-x-[5px] items-center;
  }

  &_line {
    position: absolute;
    left:  0;
    top: 260px;
    width: 4px;
    height: calc(100% - 140px);
    background: linear-gradient(180deg, rgba(22, 27, 34, 0.00) 0%, #128CFD 9.38%, #128CFD 27.99%, #128CFD 87.87%, rgba(255, 255, 255, 0.00) 100%);
  }

  &_line-last {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #128CFD 9.38%, #128CFD 27.99%, #128CFD 71.88%, #FFF 87.87%, rgba(18, 140, 253, 0.00) 100%);
  }

  &_title {
    @apply text-6xl font-benzin mb-[10px] uppercase font-bold;
  }

  &_subtitle {
    @apply font-averta text-lg mb-[35px] text-grey;
  }

  &_table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
    @apply p-[48px] bg-lightgrey rounded-[16px] border-[1px] border-superLightBlue;
  }

  &_content {
    & {
      @apply pb-[20px] block;
    }

    &_label {
      @apply mb-[32px] px-[16px] py-[6px] rounded-[32px] bg-lightblue w-fit text-lg font-averta text-white;
    }


  }

  &_list {
    display: grid;
    row-gap: 10px;

    &_item {
      display: grid;
      grid-template-columns: 50px 1fr;

      @apply p-[12px] rounded-[8px] font-averta text-sm cursor-pointer;
    }

    &_item-icon {
      & {
        @apply flex justify-center items-center;
      }

      & path {
        @apply stroke-grey;
      }
    }

    &_item-active {
      & {
        @apply bg-white;
      }

      & path {
        @apply stroke-lightblue;
      }
    }


    &_item-text {
      word-wrap: break-word;
      max-width: 100%;
      overflow: hidden;
    }
  }

  &_note {
    width: calc(100% + 32px);
    @apply -ml-[32px] mt-[30px] px-[16px] py-[8px]
    bg-blackTransparent rounded-r-[8px] text-lightblue font-averta text-sm;
  }

  &_poster {
    & {
      backdrop-filter: blur(30px);
      width: calc(100% + 48px);
      height: fit-content;
      @apply -ml-[48px] pt-[20px] pb-[20px] pr-[20px] flex justify-start items-center rounded-r-[16px] bg-white;
    }

    & img {
      @apply w-full h-full;
    }
  }
}

@media screen and (max-width: 1320px) {
  .home-event-second {
    &_icon-second {
      @apply left-[20px] translate-y-[60px] flex;
    }
  }
}

@media screen and (max-width: 860px){
  .home-event-second {
    &_table {
      grid-template-columns: 1fr;
      row-gap: 50px;
    }

    &_table {
      display: grid;
      grid-template-columns: 1fr;
      column-gap: 32px;
      @apply px-[20px] py-[0] grid;
    }

    &_poster {
      grid-row: 1;
    }

    &_icon-second {
      display: none;
    }

    &_poster {
      width: 100%;
      @apply -ml-[20px] mt-[20px] bg-white;
    }

    &_note {
      @apply ml-0 rounded-[16px] w-full;
    }
  }
}