.home-clients-wrap {
  @apply bg-lightblue rounded-[40px]
}

.home-clients-line {
  position: absolute;
  left:  0;
  top: 300px;
  width: 4px;
  height: calc(100% - 215px);
  background: linear-gradient(to top, rgba(255, 255, 255, 0.00) 0%, #128CFD 9.38%, #FFF 27.99%, #FFF 82.07%, rgba(255, 255, 255, 0.00) 100%);
}

.home-clients {
  .home-clients_content {
    &_icon {
      @apply absolute w-[72px] h-[72px] bg-light rounded-full left-0
      -translate-x-1/2 flex items-center justify-center
    }

    &_label {
      @apply font-averta
    }

    &_text {
      @apply mt-[32px] font-benzin text-6xl pr-[50px]
    }

    @apply relative pt-[200px] pb-[200px] pl-[100px]
  }

  @apply max-w-screen-xl mx-auto text-white text-lg
}

