.home-get {
  &_section {
    @apply rounded-t-[50px] bg-lightblue;
  }

  &_wrap {
    background: url("../../../assets/images/bg-lines.svg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  &_icon {
    @apply mx-auto w-[72px] h-[72px] bg-light rounded-full flex items-center mb-[32px] justify-center;
  }

  &_title {
    max-width: 1059px;
    @apply mx-auto text-white text-6xl font-benzin uppercase;
  }

  &_btn {
    @apply flex mt-[40px] justify-center;
  }

  &_container {
    @apply max-w-screen-xl mx-auto pt-[100px] pb-[200px] mt-[30px] text-center;
  }
}