.home-clients {
  & {
    @apply max-w-screen-xl mx-auto text-white text-lg;
  }

  &_section {
    @apply rounded-[40px] bg-lightblue;

  }

  &_wrap {
    background: url("../../../assets/images/bg-lines.svg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  &_content {
    & {
      @apply pt-[200px] pb-[200px] pl-[100px] relative;
    }

    &_label {
      @apply font-averta uppercase;
    }

    &_text {
      @apply mt-[32px] text-6xl pr-[50px] font-benzin;
    }
  }

  &_line {
    position: absolute;
    left:  0;
    top: 260px;
    width: 4px;
    height: calc(100% - 170px);
    background: linear-gradient(to top, rgba(255, 255, 255, 0.00) 0%, #128CFD 9.38%, #FFF 27.99%, #FFF 82.07%, rgba(255, 255, 255, 0.00) 100%);
  }
}

@media screen and (max-width: 1320px) {
  .home-clients {
    &_content {
      &_text {
        @apply pr-0;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .home-clients {
    &_content {
      @apply pt-[120px] pb-[70px] block;
    }
  }
}