.home-how {
  & {
    @apply max-w-screen-xl mx-auto pt-[250px] pb-[250px] pl-[100px] relative;
  }

  &_dec {
    position: relative;
    width: 411px;
    height: 412px;
    & {
      @apply absolute top-0 -translate-x-1/2 -translate-y-1/2 z-10 bg-white p-[60px] rounded-full left-1/2;
    }

    &_left  {
      background: white;
      width: 99px;
      height: 100px;
      position: absolute;
      z-index: 50;
      left: -95px;
      top: 106.1px;


      & > div {
        width: 103px;
        height: 104px;
        background: #128CFD;
        transform: translate(-3px, -4px);
        border-bottom-right-radius: 50%;
      }
    }

    &_right  {
      background: white;
      width: 99px;
      height: 100px;
      position: absolute;
      z-index: 50;
      right: -95px;
      top: 106px;

      & > div {
        width: 103px;
        height: 104px;
        background: #128CFD;
        border-bottom-left-radius: 50%;
        transform: translate(-1px, -4px);
      }
    }
  }

  &_line {
    position: absolute;
    left:  0;
    top: 350px;
    width: 4px;
    height: calc(100% - 230px);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #128CFD 9.38%, #128CFD 27.99%, #128CFD 87.87%, rgba(25, 30, 37, 0.00) 100%);
  }

  &_label {
    @apply font-averta text-lg text-lightblue;
  }

  &_title {
   @apply mt-[32px] mb-[24px] font-benzin text-6xl;
  }

  &_subtitle {
    @apply text-base text-grey mb-[32px] font-averta;
  }
}

@media screen and (max-width: 600px) {
  .home-how {
    & {
      @apply pt-[120px] pb-[70px] mx-auto;
    }

    &_dec {
      display: none;
    }
  }
}