.footer {
  &_wrap {
    background: url("./../../assets/images/bg-lines.svg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 20px;
  }

  &_section {
    @apply text-white rounded-t-[50px] -mt-[100px] bg-darkblue;
  }

  &_container {
    @apply max-w-screen-xl mx-auto;
  }

  &_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;

    &_title {
      @apply text-base mb-[10px] font-averta;
    }

    &_item {
      & {
        @apply text-grey mb-[8px] cursor-pointer font-averta;
      }

      & span {
        @apply text-white;
      }
    }
  }

  &_social {
    & {
      @apply flex gap-x-[24px] items-center;
    }

    & img {
      cursor: pointer;
    }
  }

  &_to-top {
    @apply flex items-center justify-end gap-x-[10px] cursor-pointer text-sm font-averta;
  }

  &_bottom {
    @apply mt-[80px] flex justify-center font-averta text-sm text-grey;
  }
}

@media screen and (max-width: 1100px) {
  .footer {
    &_list {
      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 50px;
    }

    &_to-top {
      @apply justify-start;
    }
  }
}

@media screen and (max-width: 600px) {
  .footer {
    &_to-top-wrap {
      display: none;
    }

    &_list {
      grid-template-columns: 1fr 1fr;
      row-gap: 50px;

      &_social {
        grid-row: 1;
        grid-column: 2;
      }
    }

    &_to-top {
      @apply justify-start;
    }
  }
}