@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');

@font-face {
  font-family: 'AlQalamKhateSunbali';
  src: local('AlQalamKhateSunbali'), url('./assets/fonts/qi/AlQalamKhateSunbali.woff') format('woff');
}



.blue {
  @apply text-lightblue
}

.opacity {
  opacity: 0.5;
}


body {
  @apply text-black
}

body::-webkit-scrollbar{
  display: none;
}

.line {
  z-index: 40 !important;
  transition: 3s;
  transition-delay: 0.5s !important;
}

@media screen and (max-width: 1320px) {
  .line {
    display: none;
  }

  .block {
    padding-left: 100px !important;
    padding-right: 100px !important;
  }
}

@media screen and (max-width: 1100px) {
  .title {
    font-size: 30px !important;
  }
}

@media screen and (max-width: 860px){
  .block {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 25px !important;
  }

  .mobile-text-center {
    text-align: center !important;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}


